h2 { text-align:Left; font-weight:bold; font-style:italic; }
	div {
  background-color: lightgrey;
  width: 300px;
  border: 15px ;
  padding: 50px;
  margin: 20px;
}
p { text-align:left;}
	div {
  background-color: lightgrey;
  width: 300px;
  border: 15px ;
  padding: 300px;
  margin: 10px;
}

body { background: AliceBlue; font-family: "Arial"; }

table, th, td {
  border:1px solid black;
}

.bright {
  color: orange;
  font-family: Avenir;
}